/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

	line-height: 1;
	font-size: 14px;
  font-weight: 400;
	color: #252B42;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}


/*
primary #00B0D7
accent #FF6060
dark #001B2F
light #fff
display_light #FAFAFA
display_dark #00333A
actions_light #E9F6FF
actions_dark  #001B2F

*/

.calculator {
  width: 320px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 8px 8px 64px rgba(0, 0, 0, 0.3);
}


/*=====================DISPLAY============================*/
.calculator__display {
  padding: 20px 24px;
  padding-bottom: 44px;
  margin-bottom: -24px;
  text-align: right;
  background-color: #FAFAFA;
}
.calculator__history {
  font-size: 24px;
  user-select: none;
}
.calculator__history strong {
  font-weight: 400;
  color: #FF6060;

}
.calculator__total {
  font-size: 32px;
  font-weight: 700;
}


/*=====================ACTIONS============================*/

.calculator__actions {
  padding: 16px;
  padding-bottom: 32px;
  border-radius: 20px;
  font-size: 24px;
  background-color: #E9F6FF;
  user-select: none;
}

.calculator__row {
  display: flex;
  justify-content: space-between;
}
.calculator__col {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
}
.calculator__col img {
  pointer-events: none;/*запрещает отслеживание событий*/
}
.calculator__col:hover{
  font-size: 38px;
}
.calculator__col_reset {
  color: #FF6060;
}

.calculator__col_action {
  color: #00B0D7;
}

/*=====================CALCULATOR_darkTheme============================*/
.calculator_dark {
  color: #fff;
}

.calculator_dark .calculator__display {
  background-color: #00223A;
}
.calculator_dark .calculator__actions {
  background-color: #001B2F;
}